<html>
    <head>
        <title>Senha Incorreta - RocketQ</title>
        <script>
            confirm("Senha incorreta!")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>